<form action="/" method="post">
    {% csrf_token %}
    <div>
        CFPL - CIT's First Programming Language
        <br/>
        <br/>
        Input: <input name="input" type="text" value="{{ request.POST.input }}" size="50"/> <br/>
        Source Code:
        <p>
            <textarea name="source_code" style="resize: none;" cols="70"
                      rows="25">{% if request.POST.source_code %}
{{request.POST.source_code}}{% else %}*Declaration goes here

START
    	* Execution statements goes here

    	OUTPUT: "Hello World!"
STOP{% endif %}</textarea>
            <textarea name="tokens" style="resize: none;" cols="70"
                      rows="25" readonly>
Tokens:
{% for token in tokens %}{{ token }}{{ "|" }}{% endfor %}

{{ errors | length }} errors have found:
{% for error in errors %}{{ error }}
{% endfor %}

Output:
{{ output }}</textarea>
        </p>
        <p>
            <button type="submit">Compile and Run</button>
        </p>
        <p>
            {{ error }}
        </p>
    </div>
</form>

<script>
    var textareas = document.getElementsByTagName('textarea');
    var count = textareas.length;
    for(var i=0;i<count;i++){
        textareas[i].onkeydown = function(e){
        if(e.keyCode==9 || e.which==9){
            e.preventDefault();
            var s = this.selectionStart;
            this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
            this.selectionEnd = s+1;
        }
    }
}
</script>