<form action="/" method="post">
    {% csrf_token %}
    <div>
        Source Code:
        <p>
            <textarea name="source_code" style="resize: none;" cols="70"
                      rows="25">{{request.POST.source_code}}</textarea>
            <textarea name="tokens" style="resize: none;" cols="70"
                      rows="25">
Tokens:
{% for token in tokens %}{{ token }}{{ "|" }}{% endfor %}

Errors:
{% for error in errors %}{{ error }}
{% endfor %}
            </textarea>
        </p>
        <p>
            <button type="submit">Compile</button>
        </p>
        <p>
            {{ error }}
        </p>
    </div>
</form>